<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/borrachet.png" />

	<title> Borrachet</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrapGrid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
  
<body>
	<%- include("./partials/header.ejs") %>
	<!-- Banner -->
	<div class="banner">
		<img class="bannerNuevo" src="/images/imgHomeBanner.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container productsWrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="productsTitle">Nuevos Productos</h2>
			</div>
			<!-- Show the "ultimos" products.. -->
			<div class="products">
				<% for (let i = 0; i < 5; i++) { %>
					<section class="productBox">
						<a href="/products">
							<figure class="productBoxImage">
								<img class="tama침os" src=" <%=data[i].imagenDelProducto%>" alt="absolut Raspberry">
							</figure>
							<article class="productBoxData">
								<h2><%= data[i].nombreDelProducto %></h2>
								<p><%= data[i].descripcion %></p>
								<p>Comentarios: <%= data[i].comentarios.length %></p>
							</article>
						</a>
					</section>

				<%} %>
			</div>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- M치s comentados -->
	<div class="container productsWrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="productsTitle">M치s comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class=" products ">
				<% for (let i = 5; i < data.length; i++) {  %>
					<section class="productBox">
						<a href="/products">
							<figure class="productBoxImage">
								<img  src="<%=data[i].imagenDelProducto %>" alt="cafetera moulinex">
							</figure>
							<article class="productBoxData">
								<h2><%= data[i].nombreDelProducto%></h2>
								<p><%=data[i].descripcion %></p>
								<p>Comentarios: <%= data[i].comentarios.length %></p>
							</article>
						</a>
					</section>
				<% } %>
			</div>
		</div>
	</div>
	<!-- /M치s comentados -->

	<%- include("./partials/footerLogueado") %>

</body>	
</html>