<!DOCTYPE html>
<html lang="es">
	<%- include("./partials/head") %>
<body>
	<%- include("./partials/header") %>
	<!-- Banner -->
	<div class="banner">
		<img class="bannerNuevo" src="/images/imgHomeBanner.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container productsWrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="productsTitle">Nuevos Productos</h2>
			</div>
			<!-- Show the "ultimos" products.. -->
			<div class="products">
				<% for (let i = 0; i < 5; i++) { %>
					<section class="productBox">
						<a href="/products/id/<%=productos[i].id%>">
							<figure class="productBoxImage">
								<img class="tama침os" src=" <%=productos[i].imagenDelProducto%>" alt="absolut Raspberry">
							</figure>
							<article class="productBoxData">
								<h2><%= productos[i].nombreDelProducto %></h2>
								<p><%= productos[i].descripcion %></p>
								<p>Comentarios: <%= //productos[i].comentarios.length %></p>
							</article>
						</a>
					</section>

				<%} %>
			</div>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- M치s comentados -->
	<div class="container productsWrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="productsTitle">M치s comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class=" products ">
				<% for (let i = 5; i < productos.length; i++) {  %>
					<section class="productBox">
						<a href="/products/id/<%=productos[i].id%>">
							<figure class="productBoxImage">
								<img  src="<%=productos[i].nombreArchivoImagen %>" alt="foto producto">
							</figure>
							<article class="productBoxData">
								<h2><%= productos[i].nombreDelProducto%></h2>
								<p><%=productos[i].descripcion %></p>
								<p>Comentarios: <%= // data[i].comentarios.length %></p>
							</article>
						</a>
					</section>
				<% } %>
			</div>
		</div>
	</div>
	<!-- /M치s comentados -->

	<%- include("./partials/footerLogueado") %>

</body>	
</html>