<!DOCTYPE html>
<html lang="es">
    <%- include("./partials/head") %>
<body>
	<% if (locals.usuario != undefined) { %>
		<%- include("./partials/headerLogueado") %>
	<%} else { %>
		<%- include("./partials/header") %>
	<% } %>
	<!-- Novedades -->
	<div class="container productsWrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="productsTitle">Editar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/products/edit/id/<%=productos.id %>" method="POST">
				<div>
					<label for="imagenName">Imagen del producto</label>
					<input id="imagenName" type="file" name="nombreArchivoImagen" value="<%=productos.nombreArchivoImagen%>" > </input>
					<% if (locals.errors && errors.nombreArchivoImagen) { %>
						<p class="error"> <%=errors.nombreArchivoImagen.msg%></p>
					<% } %>
				</div>
				<div>
					<label for="productName">Nombre del producto</label>
					<input id="productName" type="text" name="nombre" value="<%=productos.nombre%>" > </input>
					<% if (locals.errors && errors.nombre) { %>
						<p class="error"> <%=errors.nombre.msg%></p>
					<% } %>
				</div>
				<div>
					<label for="descriptionProduct">Descripción del producto</label>
					<input id="descriptionProduct" type="text" name="descripcion" value="<%=productos.descripcion%>" > </input>
					<% if (locals.errors && errors.descripcion) { %>
						<p class="error"> <%=errors.descripcion.msg%></p>
					<% } %>
				</div>
				<div>
					<button class="botonesNaranja" type="submit">Enviar </button>
				</div>
			</form>
		</div>
	</div>

	<%- include("./partials/footerLogueado") %>

</body>
</html>