<!DOCTYPE html>
<html lang="es">
	<%- include("./partials/head") %>
<body>

	<% if (locals.usuario != undefined) { %>
		<%- include("./partials/headerLogueado") %>
	<%} else { %>
		<%- include("./partials/header") %>
	<% } %>
	<!-- product detail -->

		
	<div class="container productsWrapper">
		<div class="d-flex alignItemsCenter">
			<h2 class="productsTitle"> <%= productos.nombre %> </h2> 
			<p class="productDetailDescription">
				<% if (sesion != undefined && sesion.id == productos.usuario.id) {%>
					<a href="/products/edit/id/<%=productos.id %>">Editar</a>
				<%}%> 
			</p>
		</div>
		<div class="productDetail">
			<strong> <a href="/users/profile/id/<%= productos.usuario.id %>"><%= productos.usuario.nombre %> </a></strong>
			<div class="row">
				<article class="col-12 col-lg-8 productDetailInfo">
					<img src= "/images/products/<%= productos.nombreArchivoImagen %>" alt="" class="productDetailImg">
					<p class="productDetailDescription">
						<%= productos.descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<% for (let i = 0; i < productos.comentario.length; i++) { %> 
					<section class="comments">
							<article>
								<img src= "/images/users/<%= productos.comentario[i].usuario.foto %>" alt=""> 
								<div class="data">
									<p class="user">
									<strong> <a href="/users/profile/id/<%=productos.comentario[i].usuario.id%>"> <%=productos.comentario[i].usuario.nombre %> </a> </strong>
									 <%= productos.comentario[i].texto %> </p>
								</div>
							</article>
					</section>
					<hr>
					<% }%>
					<% if (locals.usuario != undefined) { %>
						<form class="form" action="/products/id/<%= productos.id %>" method="POST">
							<input type="hidden" name="idUsuario" value="<%= locals.usuario.id %>">
							<input type="hidden" name="idProducto" value="<%= productos.id %>">
							<input class="formInput" type="text" name= "texto" value="" placeholder="Agregar comentario">
							<button type="submit" class="buyNowButton">AGREGAR COMENTARIO</button>
						</form>
					<% } else {%>
						<p> Debe estar logueado para comentar</p>
						<% } %>
				</div>
			</div>
		</div>
		<p class="productDetailDescription">
			<% if (sesion != undefined && sesion.id == productos.usuario.id) {%>
				<a href="/products/delete/id/<%=productos.id %>">Eliminar </a>
			<%}%> 
		</p>
	</div>
	<!-- /product detail -->

	<%- include("./partials/footerLogueado") %>

</body>	
</html>