<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/borrachet.png" />

	<title> Borrachet</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrapGrid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
	
	<%- include("./partials/headerLogueado.ejs") %>
	
	<section class="infoUsuario container productsWrapper">
		<div class="row">
			<div class="img-container offset-3 col-2 perfiles">
				<img src= "<%=usuario.imagenPerfil%>" alt="foto de perfil" class="fotoPerfil"> 
			</div>
			<div class="data-container col-6">
				<div class="d-flex alignItemsCenter perfiles ">
					<h1 class="mainTitle"> <%= usuario.usuario %>
						<a href="/users/profile/edit">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div >
					<a href="/users/profile/edit"> <button class="botonesNaranja" type="submit"> Editar perfil</button> </a>
			</div>
			<div>
				<i><%= usuario.email %></i>
			</div>
				<div>
					<ul class="">
						<li> <%= producto.length %> productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container productsWrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="productsTitle">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<div class="products ancho">
				<% for (let i = 0; i < producto.length; i++) { %>
					<section class="productBox">
						<a href="/products">
							<figure class="productBoxImage">
								<img src="<%= producto[i].imagenDelProducto %>" alt="cafetera moulinex">
							</figure>
							<article class="productBoxData">
								<h2><%= producto[i].nombreDelProducto %></h2>
								<p> <%= producto[i].descripcion %></p>
								<p>Comentarios: <%= producto[i].comentarios.length %></p>
							</article>
						</a>
					</section>
					
				<%} %>
			</div>
		</div>
	</div>
	<!-- /Mis productos -->

	<%- include("./partials/footerLogueado") %>

</body>	
</html>