<!DOCTYPE html>
<html lang="es">
	<%- include("./partials/head") %>
<body>
	<% if (locals.usuario != undefined) { %>
		<%- include("./partials/headerLogueado") %>
	<%} else { %>
		<%- include("./partials/header") %>
	<% } %>
	<!-- Banner -->
	<div class="banner">
		<img class="bannerNuevo" src="/images/imgHomeBanner.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container productsWrapper">
		<div class="row">
			
			<!-- Show the "ultimos" products.. -->

			<% if (productos.length == 0) { %>
				<p class="productsTitle">No hay resultados para " <%= busqueda %> "</p>
			 <% } else { %>
				<div class="col-12">
					<h2 class="productsTitle"> Resultados para tu busqueda: " <%= busqueda %> "</h2>
				</div>
				<div class="products">
					<% for (let i = 0; i < productos.length; i++) { %>
						<section class="productBox">
							<a href="/products/id/<%=productos[i].id%>">
								<figure class="productBoxImage">
									<img class="tamaños" src="/images/products/<%=productos[i].nombreArchivoImagen%>" alt="absolut Raspberry">
								</figure>
								<article class="productBoxData">
									<h2><%= productos[i].nombre %></h2>
									<p><%= productos[i].descripcion %></p>
									<p>Comentarios: <%= productos[i].comentario.length %></p>
								</article>
							</a>
						</section>
	
					<%} %>
				</div>
			<% } %>
			
		</div>
	</div>
	<!-- /Novedades -->

	<%- include("./partials/footerLogueado") %>

</body>	
</html>